// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  padding-top: 3rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.btn + .btn {
  margin-left: 1rem;
}